body{
    background-color: rgb(232, 205, 245);
}
.titles{
   
    font-size:25px;
    background-color: rgb(163, 2, 221);
    height:75px;
    width:100%;
    padding-top: 0px;
    padding-bottom: 50px;
    text-align: center ;
    border:solid;
    border-width: 5px;
    margin-bottom:40px;

}

.imgs{
    margin-top: 20px;
    display:inline;
    width: 20%;
    border:solid;
    align-items: center;
    margin-left:5%;
    margin-right:5%;
}

/* #rock{
  margin-left: 200px;
  margin-right:50px
}
#scissors{
  margin-left: 50px; */
    
/* } */
#btn{
    margin-left: 25%;
    
    align-self: center;
    size:30px;
    margin-top: 100px;
    font-size: 60px;
    border:solid;
    border-width:7px ;

}
.container{
    align-items: center;
}